
.RData

.Rhistory

*.pper

.Rproj.user/42FD4C9E/persistent-state

*.Rproj

.Rproj.user/shared/notebooks/paths

*.Rdata

.Rproj.user/42FD4C9E/rmd-outputs

.Rproj.user/42FD4C9E/saved_source_markers

.Rproj.user/42FD4C9E/sdb/prop/34EF0C96

.Rproj.user/42FD4C9E/sdb/prop/70BDE1E9

.Rproj.user/42FD4C9E/sdb/prop/B5AB80F6

.Rproj.user/42FD4C9E/sdb/prop/BA46C9B2

.Rproj.user/42FD4C9E/sdb/prop/BF986CBE

.Rproj.user/42FD4C9E/sdb/prop/INDEX

.Rproj.user/42FD4C9E/sdb/s-238B0858/72459119

.Rproj.user/42FD4C9E/sdb/s-238B0858/7DFF5AD8

.Rproj.user/42FD4C9E/sdb/s-238B0858/DBFF5DB4

.Rproj.user/42FD4C9E/sdb/s-238B0858/EB512057

.Rproj.user/42FD4C9E/sdb/s-238B0858/EDE6F3CC

.Rproj.user/42FD4C9E/sdb/s-238B0858/lock_file

.Rproj.user/42FD4C9E/session-persistent-state
